{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body>
    

    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Make An Appointment For Your family</h1>
                    </div>
                    <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Find Doctor</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Book An Appointment For Doctor {{doctor.doctor.fname}}- for : {{doctor.speciality}}</h1>
                        <h3 style="color:blue;" >{{msg}}</h3>
                        <form method="post" action="{% url 'book-appointment' pk=doctor.pk %}" >
                            {% csrf_token %}
                            <div class="row g-3">
                                
                                
                                <div class="col-12 col-sm-12">
                                    <input type="text" class="form-control bg-white border-0" value="Doctor Name : {{doctor.doctor.fname}}" style="height: 55px;" readonly>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-white border-0" value="Patient Name : {{user.fname}}" style="height: 55px;" readonly>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-white border-0"  value="{{user.email}}" style="height: 55px;" readonly>
                                </div>
                                 <div class="col-12 col-sm-12">
                                   <textarea class="form-control bg-white border-0" name="health_issue" placeholder="Describe Your Health Issues" ></textarea>
                                </div>
                                <br>
                                <div class="col-12 col-sm-6">

                                    <div class="date" id="date" data-target-input="nearest">
                                        <label for="birthday">Date:</label>
                                                <input type="date" id="date" name="date">
                                                
                                    </div>
                                </div>
                                <br>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <label for="birthday">time:</label>
                                                <input type="time" id="time" name="time">
                                                
                                    </div>
                                </div>
                                </div>
                                <br>
                                <div class="col-12 col-sm-12">
                                    <input type="text" class="form-control bg-white border-0"  value="{{doctor.charges}}" name="charges" style="height: 55px;" readonly>
                                </div>
                                <br>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


    
</body>

</html>
{% endblock %}